html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh; /* Altura del 100% de la ventana */
  display: flex; /* Muestra los elementos hijos en línea */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}


.content {
  max-width: 800px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}